body {
    background-color: lightgray;
    /* font-family: 'Times New Roman', Times, derif; */
}

#event-title, #entry-title {
    
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
}